@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: 
  "sidebar header"
  "sidebar main";
}

.sidebar {
  grid-area: sidebar;
  background-color: #7e22ce;
  color: #faf5ff;
}
.sidebar > * {
  padding: 15px 16px;
}

.sidebar h2 {
  font-size: 1.94rem;
}
.sidebar li {
  font-size: 1.15rem;
}

.sidebar ul {
  list-style: none;
}
.sidebar .navigation,
.sidebar .branding {
  display: grid;
  gap: 8px;
}

header {
  grid-area: header;
  background-color: #FFF973;
}
main {
  grid-area: main;
  background-color: #faf5ff;
}