@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
  --custom-purple: #7e22ce;
  --white-purple: #faf5ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}

body {
  overflow-x: hidden;
}

.container {
  width: 100vw;
  height: 120vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 3fr 17fr;
  grid-template-areas: 
  "sidebar header"
  "sidebar main";
}


.sidebar {
  grid-area: sidebar;
  background-color: var(--custom-purple);
  color: var(--white-purple);
  z-index: 2;
}
.sidebar > * {
  padding: 18px;
}
.sidebar h2 {
  font-size: 2rem;
  padding: 20px 16px 15px;
}
.sidebar h2,
.sidebar ul li {
  display: flex;
  align-items: center;
  /* Vertical gap (SVG / text) */
  gap: 8px;
}
.sidebar li {
  font-size: 1.2rem;
}
.sidebar ul {
  list-style: none;
}
.sidebar .navigation,
.sidebar .branding {
  display: grid;
  /* Horizontal gap (li) */
  gap: 20px;
}


header {
  grid-area: header;
  background-color: #fffffa;box-shadow: -0.1px 1px 9px 1px rgba(0, 0, 0, 0.4);
  z-index: 1;
  
  padding: 0 0 5px;

  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: 1fr 1fr;
}
header > div {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-auto-rows: 1fr;
  gap: 0;
}
header .welcome-div h2 {
  font-size: 1.4rem;
}
header .buttons-div {
  grid-auto-flow: column;
  gap: 15px;
}
header .buttons-div button {
  color: var(--white-purple);
  background-color: var(--custom-purple);

  border: none;
  border-radius: 15px;

  padding: 7px 18px;
  cursor: pointer;
}


main {
  grid-area: main;
  background-color: #f3ebfa;

  display: grid;
  grid-template-columns: 11fr 5fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "projects announcements"
  "projects trending";
  padding-bottom: 30px;
  padding-right: 22px;
}
main > div {
  display: grid;
  grid-template-rows: 1fr 4fr;
}
main > div > h2 {
  width: 95%;
  align-self: center;
  justify-self: center;
}
main .projects {
  grid-area: projects;
  grid-template-rows: 1fr 9fr;
}
main .projects .cards-grid {
  justify-self: center;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 1fr;
  gap: 15px;
}
main .projects .cards {
  background-color: #fffffa;
  border-radius: 6px;
  border-left: 7px solid #7e22ce;
  display: grid;
  align-items: center;
  padding-left: 15px;
  font-size: 14px;
  padding-right: 9px;
}
.cards p {
  color: hsla(0, 0%, 27%, 0.925);
  align-self: start;
}

main .announcements {
  grid-area: announcements;
}
.announcements .cards-grid ,
.trending .cards-grid {
  padding: 10px 0;
  background-color: #fffffa;
  border-radius: 5px;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 14px;
}
.announcements .cards {
  width: 75%;
}
.announcements .cards p {
  padding-top: 4px;
}
.announcements .cards.c2 {
  border-radius: 1px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 18px 0;
}
.announcements .cards-grid h3 {
  font-size: 14px;
}

main .trending {
  grid-area: trending;
}
.trending .cards-grid {
  gap: 7px;
  justify-items: start;
}
.trending .cards {
  display: grid;
  gap: 5px;
  grid-auto-flow: column;
}
.trending .cards div {
  display: grid;
  align-items: center;
}
.trending .cards img {
  align-self: start;
  border-radius: 50%;
  border: 2px solid #c084fc;
  width: 70px;
  height: 70px;
}