* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: 
  "sidebar header"
  "sidebar main";
}

header {
  grid-area: header;
  background-color: red;
}
.sidebar {
  grid-area: sidebar;
  background-color: blue;
}
main {
  grid-area: main;
  background-color: gray;
}